body {
    margin: 0;
    padding: 0;
    background: #222327;
}

h2 {
    text-align: center;
    font-size: 150px;
    color: #161619;
    font-family: arial;
    font-weight: bold;
    transition: 3s;
    text-transform: uppercase;
    margin-top: 5%;
    text-rendering: optimizeLegibility;
    padding-top: 14%;
}

h2:hover {
    text-shadow: -1px -1px #FFD700,
                    0px 1px 0 #161619,
                    0px 2px #FFD700,
                    0px 3px 0 #FFD700,
                    0px 4px #161619,
                    0px 4px 0 #161619,
                    0px 5px #FFD700,
                    0px 6px 0 #161619,
                    0px 7px #FFD700,
                    0px 8px 0 #161619,
                    0px 9px #FFD700,
                    0px 10px 0 #161619,
                    0px 11px #FFD700,
                    0px 12px 0 #161619,
                    0px 13px #FFD700,
                    0px 14px 0 #161619,
                    0px 15px #FFD700,
                    0px 16px 0 #161619;
    coursor: pointer;
}